{% block header %}
    <header class="header">
    {# <div class="logo-wrapper"><img src="/Langivi-app.png" width="64"></div> #}
    <div class="name-wrapper"><h1>Important reminder</h1></div>
    <div class="login-container">
        <span class="login-name"></span> 
        <button class="login-button" type="button">Login</button>
    </div>
    </header>
{% endblock %}
