{% extends 'base.twig' %}

                           
{% use 'header.twig'%}

{% block scripts %}
{% endblock %}


{% block body %}
    <div class="main-dashboard">
        main page 
        <a href="/events/all"> All events </a>
    </div>
{% endblock %}

