{% extends 'base.twig' %}

                           
{% use 'header.twig'%}

    {% block scripts %}
    {% endblock %}


    {% block body %}
    <div class="main-dashboard">
        main page
    </div>
    {% endblock %}

