{% extends 'base.twig' %}
{% block scripts %}
<script>
    let checkedEmail;
	function checkCorrectEmail(email) {
		const exp = new RegExp(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$/g);
        checkedEmail = !!email.match(exp);
        const label = document.querySelector('.email-label');
        label.textContent = checkedEmail ? '' : 'Write correct email please';
	}
    async function login(e) {
        e.preventDefault();
        const fields = Array.from(e.target.getElementsByTagName('input'));
        const form = fields.reduce((result, field) => {
            result[field.name] = field.value;
            return result;
        }, {});  

        const response = await fetch('/auth/login', {
            method: 'POST', 
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(form) 
        });
        const notification = document.querySelector('.notification');
        const data = await response.json();
        if (response.status === 404 ) {
            const container = document.createElement("div");
            container.innerHTML = `
                <a href="/auth/registration">Suggest registration</a>
            `;
            notification.after(container);
        }
        if (!response.ok) {
            notification.textContent = data?.error;
            return false;
        }      
        localStorage.setItem('token', data.tokens.accessToken);
        console.log(data);
        return false;
    }
</script>
{% endblock %}

{% use 'header.twig'%}

{% block body %}
    <section>
        <form onsubmit="return login(event)">
            <h2>Login</h2>
            <input id="email" value="" name="email" placeholder="Email" required type="email" onchange="checkCorrectEmail(this.value)">
            <label for="email" class="email-label" style="color:red"></label><br/><br/>
            <input value="" name="password" placeholder="Password" required type="password" ><br/><br/>
            <button type="submit">Login</button>
        </form>
        <div class="notification"></div>
    </section>
{% endblock %}
