{% extends 'base.twig' %}
{% block scripts %}
<script type="module">
    import {login} from '/js/authorization.js';
    import {checkCorrectEmail} from '/js/utils.js';

    const inpuntEmail = document.querySelector('input[name="email"]');
    inpuntEmail.onchange = checkCorrectEmail;
    document.forms[0].onsubmit = login;
</script>
{% endblock %}

{% use 'header.twig'%}

{% block body %}
    <section>
        <form onsubmit="return login(event)">
            <h2>Login</h2>
            <div class="notification"></div>
            <div class="suggest-registration"><a href="/auth/registration">Suggest registration</a></div>
            <input id="email" value="" name="email" placeholder="Email" required type="email" >
            <label for="email" class="email-label" style="color:red"></label>
            <input value="" name="password" placeholder="Password" required type="password" >
            <br/>
            <button type="submit">Login</button>
        </form>
    </section>
{% endblock %}
