{% extends 'base.twig' %}
{% block scripts %}
<script>
    let checkedEmail;
	function checkCorrectEmail(email) {
		const exp = new RegExp(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$/g);
        checkedEmail = !!email.match(exp);
        const label = document.querySelector('.email-label');
        label.textContent = checkedEmail ? '' : 'Write correct email please';
	}
    async function registration(e) {
        e.preventDefault();
        const fields = Array.from(e.target.getElementsByTagName('input'));
        const form = fields.reduce((result, field) => {
            result[field.name] = field.value;
            return result;
        }, {});  

        const response = await fetch('/auth/registration', {
            method: 'POST', 
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(form) 
        });
        const notification = document.querySelector('.notification');
        const data = await response.json();
        if (!response.ok) {
            notification.textContent = data?.error;
            return false;
        }      
        console.log(data);
        return false;
    }
</script>
{% endblock %}

{% use 'header.twig'%}

{% block body %}
    <section>
        <form onsubmit="return registration(event)">
            <h2>{{ title }}</h2>
            <input id="login" required name="login" placeholder="Login"  type="text"><br/><br/>
            <input id="email" required name="email" placeholder="Email"  type="email" onchange="checkCorrectEmail(this.value)">
            <label for="email" class="email-label" style="color:red"></label><br/><br/>
            <input required name="password" placeholder="Password"  type="password"><br/><br/>
            <button type="submit">Registration</button>
        </form>
        <div class="notification"></div>
    </section>
{% endblock %}
