{% extends 'base.twig' %}
{% block scripts %}
<script type="module" >
    import {registration} from '/js/authorization.js';
    import {checkCorrectEmail} from '/js/utils.js';

    const inpuntEmail = document.querySelector('input[name="email"]');
    inpuntEmail.onchange = checkCorrectEmail;
    document.forms[0].onsubmit = registration;
</script>
{% endblock %}

{% use 'header.twig'%}

{% block body %}
    <section>
        <form class="authorization-form">
            <h2>{{ title }}</h2>
            <input id="login" required name="login" placeholder="Login"  type="text">
            <input id="email" required name="email" placeholder="Email"  type="email" onchange="checkCorrectEmail(this.value)">
            <label for="email" class="email-label" style="color:red"></label>
            <input required name="password" placeholder="Password"  type="password"><br/>
            <button type="submit">Registration</button>
        </form>
        <div class="notification"></div>
    </section>
{% endblock %}
